.check-container {
	grid-area: check-container;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4rem 0.5rem 1fr;
	grid-template-areas:
		"table-id"
		"."
		"table-order";
	padding: 0.5rem;
	background-color: rgb(194, 194, 194);
	border-radius: 0.25rem;
	overflow: hidden;
}