
.title {
	grid-area: title;
	display: flex;
	font-size: 3rem;
	font-weight: 900;
	color: rgb(253, 253, 253);
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

.username-input{
	grid-area: username-input;
	border-radius: 0.25rem;
	border: none;
	padding: 0.5rem;
	background: rgb(216, 216, 216);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.password-input{
	grid-area: password-input;
	border-radius: 0.25rem;
	border: none;
	padding: 0.5rem;
	background: rgb(216, 216, 216);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
