.kitchen-service-container {
	display: grid;
	height: 100vh;
	width: 100vw;
	padding: 1rem;
	background-color: rgb(171, 169, 169);
	grid-template-columns: 1fr;
	grid-template-rows: 3rem auto;
	grid-template-areas:
		"kitchen-display"
		"orders-display"
	;
}

.orders-display {
	grid-area: orders-display;
	display: block;
	overflow-x: scroll
}

.kitchen-display {
	grid-area: kitchen-display;
	display: grid;
	border-radius: 0.25rem;
	grid-template-columns: 1fr 4fr 4fr 2fr 4fr 2fr;
	grid-column-gap: 0.5rem;
	grid-template-rows: auto;
	grid-template-areas:
	"home-btn display-hour display-waiter display-table display-preparing display-deliver";

}

.home-btn {
	grid-area: home-btn;
	display: flex;
	align-items: center;
	justify-content: center;

}
.display-waiter {
	grid-area: display-waiter;
	display: flex;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	color: rgb(247, 244, 244);
	background: rgb(185, 185, 185);
}

.display-hour {
	grid-area: display-hour;
	display: flex;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	color: rgb(247, 244, 244);
	background: rgb(185, 185, 185);
}

.display-table {
	grid-area: display-table;
	display: flex;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	color: rgb(247, 244, 244);
	background: rgb(185, 185, 185);

}

.display-order {
	grid-area: display-order;
	display: flex;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	color: rgb(247, 244, 244);
	background: rgb(185, 185, 185);

}

.display-preparing {
	grid-area: display-preparing;
	display: flex;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
	color: rgb(247, 244, 244);
	background: rgb(185, 185, 185);

}

.display-deliver {
	grid-area: display-deliver;
	display: flex;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
	color: rgb(247, 244, 244);
	background: rgb(185, 185, 185);
}

