.select-table-container {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 0.5rem 1fr 1fr 1fr 2fr 0.5rem;
	grid-template-rows: 1rem 4rem auto auto auto 1rem;
	grid-row-gap: 0.5rem;
	grid-template-areas:
		". . . . . ."
		". home-btn tables-title tables-title table-id ."
		". show-tables show-tables show-tables . ."
		". show-tables show-tables show-tables . ."
		". show-tables show-tables show-tables . ."
		". . . . . .";
		background: rgb(171, 169, 169);

}

.tables-title {
	grid-area: tables-title;
	display: flex;
	font-size: 2rem;
	font-weight: 900;
	color: white;
	text-align: center;
	align-items: center;
	justify-content: flex-center;
}

.selected-table {
	grid-area: selected-table;
	display: flex;
	border-radius: 0.25rem;
	background-color: rgb(230, 224, 165);
	align-items: center;
	justify-content: center;
}

.show-tables {
	grid-area: show-tables;
	display: flex;
	flex-wrap: wrap;
	background: rgb(171, 169, 169);
	align-items: center;
	justify-content: center;
}
