.single-order-container {
	display: grid;
	padding: 1rem;
	border-radius: 0.25rem;
	grid-template-columns: 1fr 4fr 4fr 2fr 4fr 2fr;
	grid-column-gap: 0.5rem;
	grid-template-rows: auto auto;
	grid-template-areas:
	"order-delete order-date order-waiter order-table order-preparing order-deliver"
	". items notes notes  . ."
	;
}

.order-delete, .order-date, .order-waiter, .order-table, .items, .order-preparing, .order-deliver {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.25rem;
	padding: 0.5rem;
	color: whitesmoke;

}

.order-delete {
	grid-area: order-delete;
}

.order-date {
	grid-area: order-date;
	background:rgb(200, 200, 200);
}

.order-waiter {
	grid-area: order-waiter;
	background:rgb(200, 200, 200);

}

.order-table {
	grid-area: order-table;
	background:rgb(200, 200, 200);

}

.items {
	grid-area: items;
	display: block;
}

.notes {
	grid-area: notes;
	margin: 0.5rem;
}

.order-preparing, .order-preparing-true {
	grid-area: order-preparing;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}

.order-preparing {
	background-color: rgb(200, 200, 200);
}

.order-preparing-true {
	background-color: rgb(219, 202, 126);
	border-radius: 0.25rem;
}

.order-deliver {
	grid-area: order-deliver;
	background-color: rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}

.order-ready-true {
	grid-area: order-deliver;
	background-color: rgb(146, 202, 123);
	border-radius: 0.25rem;
}

i {
	color: whitesmoke;
	text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}