.to-home-btn {
	grid-area: to-home-btn;
	display: flex;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
}

 .fa-arrow-left {
	font-size: 2.5rem;
	color:rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}