@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	font-family: 'Dosis', sans-serif;
	font-size: 16pt;
	font-weight: 300;
	border: 0;
}

body {
	padding: 0;
	margin: 0;
}

main {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: 1rem 2fr 1rem 1.5fr 1rem;
	grid-template-rows: 1rem 1fr 1rem;
	grid-template-areas:
		". . . . ."
		". select-menu-container . check-container ."
		". . . . .";
	background: rgb(171, 169, 169);
}

.select-menu-container {
	display: grid;
	grid-area: select-menu-container;
	grid-template-columns: 1fr;
	grid-template-rows: 4rem 1rem 1fr;
	grid-template-areas:
		"meal-type"
		"."
		"menu-items";
	background-color: rgb(194, 194, 194);
	border-radius: 0.25rem;
	padding: 0.5rem;
}

.meal-type {
	grid-area: meal-type;
	display: grid;
	grid-template-columns: 1fr 0.5rem 1fr 0.5rem 1fr;
	grid-template-areas:
		'breakfast-button . meals-button . beverages-button';
}

.breakfast {
	grid-area: breakfast-button;
	display: flex;
	background: rgb(162, 215, 218);
	border-radius: 0.25rem;
	border: 0;
	align-items: center;
	justify-content: center;

}

.meals{
	grid-area: meals-button;
	display: flex;
	background: rgb(173, 162, 218);
	border-radius: 0.25rem;
	border: 0;
	align-items: center;
    justify-content: center;
}

.beverages {
	grid-area: beverages-button;
	display: flex;
	background: rgb(218, 162, 216);
	border-radius: 0.25rem;
	border: 0;
	align-items: center;
	justify-content: center;

}

.menu-items {
	grid-area: menu-items;
	display: block;
	padding: 0.5rem;
}

.item {
	display: block;
	padding: 0.5rem;
}

.check-container {
	grid-area: check-container;
	display: grid;
	grid-template-columns: 0.5rem 1fr 0.5rem;
	grid-template-rows: 0.5rem 4rem auto 4rem 0.5rem;
	grid-template-areas:
		". . ."
		". table-id ."
		". table-order ."
		". send-order ."
		". . .";
	background-color: rgb(194, 194, 194);
	border-radius: 0.25rem;
}

.table-id {
	display: flex;
	grid-area: table-id;
	border-radius: 0.25rem;
	background-color: rgb(230, 224, 165);
	align-items: center;
    justify-content: center;

}

.table-order {
	display: flex;
	grid-area: table-order;
	border-radius: 0.25rem;
	align-items: center;
    justify-content: center;

}

.send-order {
	display: flex;
	grid-area: send-order;
	background-color: rgb(218, 162, 172);
	border-radius: 0.25rem;
	font-weight: bold;
	align-items: center;
	justify-content: center;
}

.menu-items {
	display: flex;
	grid-area: menu-items;

}

.item {
	border-radius: 0.25rem;
	background: rgb(183, 218, 162);
	margin: 0.25rem;
}